#mc_embed_signup.mb3
  form(
    action="https://github.us3.list-manage.com/subscribe/post?u=5f266698928e9d8714500b635&amp;id=93c2028382"
    method="post"
    id="mc-embedded-subscribe-form"
    name="mc-embedded-subscribe-form"
    class="validate"
    target="_blank"
    novalidate
  )
    div#mc_embed_signup_scroll
      div.mc-field-group.mb3
        label.mono.f6.f5-ns.f4-m-.f4-l.fw6.eggplant.db.mb2(for="mce-EMAIL") Email address
        .flex.flex-column.flex-row-ns.flex-wrap-ns
          input#mce-EMAIL.required.email.input-reset.mono.f5.f4-ns.f3-m.f2-l.lh-solid.b--eggplant.br2.ma0.mb2.mr2-ns.pa2.w-100.w-auto-ns(type="email" value="" placeholder="koko@email.com" name="EMAIL")
          input#mc-embedded-subscribe.button.button-reset.bg-eggplant.white.mb2.f6.f5-ns.f4-m.f3-l.fw6.lh-solid.mono.pa2.ph3-ns.bn.br2.pointer(type='submit', value='Subscribe', name='subscribe')
      #mce-responses.clear
        div.response#mce-error-response(style="display:none")
        div.response#mce-success-response(style="display:none")
      //- real people should not fill this in and expect good things - do not remove this or risk form bot signups
      div(style="position: absolute; left: -5000px;" aria-hidden="true")
        input(type="text" name="b_5f266698928e9d8714500b635_93c2028382" tabindex="-1" value="")
